<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csci310.team53.easyteamup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".EasyTeamUp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Csci310">
        <activity
            android:name=".activities.CreateEventActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.HostedEventsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InboxActivity"
            android:exported="false"
            android:label="@string/title_activity_inbox"
            android:theme="@style/Theme.Csci310" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EasyTeamUp"
             />

        <activity android:name=".activities.RegistrationActivity" />
    </application>

</manifest>